.semi input {
    padding: 5px 7px;
    border: 2px solid rgb(52, 52, 114);
    outline: none;
    border-radius: 4px;
}

    .semi input[aria-invalid=true] {
        border-color: red
    }

    .semi button {
        border: none;
        padding: 5px 13px;
        background: #eee;
        color: rgb(8, 8, 49);
        border-radius: 5px;
        font-weight: bold;
        margin-left: 10px;
    }

.semi p {
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 6px;
}
