@media (max-width: 0px) {
  .u-section-2 {
   min-height: 899px;
 }
 .u-section-2 .u-text-1 {
   width: 850px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin-top: 91px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
 }
 .u-block-5296-4 {
   background-image: none;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 1rem;
   border-style: none;
   font-weight: 700;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.27;
   margin-top: 42px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   padding-top: 14px;
   padding-right: 52px;
   padding-bottom: 16px;
   padding-left: 51px;
 }
 .u-section-2 .u-shape-1 {
   height: 120px;
   margin-top: 202px;
   margin-bottom: 0;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }
 .u-section-2 .u-layout-wrap-1 {
   width: 1140px;
   margin-top: -280px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
 }
 .u-section-2 .u-layout-cell-1 {
   min-height: 377px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: -100px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }
 .u-section-2 .u-container-layout-1 {
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }
 .u-section-2 .u-image-1 {
   height: 311px;
   width: 238px;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
 }
 .u-section-2 .u-layout-cell-2 {
   min-height: 103px;
 }
 .u-section-2 .u-container-layout-2 {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
 }
 .u-section-2 .u-layout-cell-3 {
   min-height: 99px;
 }
 .u-section-2 .u-container-layout-3 {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
 }
 .u-block-5296-14 {
   min-height: 381px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 100px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }
 .u-block-5296-15 {
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }
 .u-block-5296-16 {
   height: 311px;
   width: 238px;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
 }
 .u-block-5296-17 {
   min-height: 374px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: -100px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }
 .u-block-5296-18 {
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }
 .u-block-5296-19 {
   height: 311px;
   width: 238px;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
 }
 .u-section-2 .u-layout-cell-6 {
   min-height: 106px;
 }
 .u-section-2 .u-container-layout-6 {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
 }
 .u-section-2 .u-layout-cell-7 {
   min-height: 106px;
 }
 .u-section-2 .u-container-layout-7 {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
 }
 .u-block-5296-24 {
   min-height: 374px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 100px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }
 .u-block-5296-25 {
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }
 .u-block-5296-26 {
   height: 311px;
   width: 238px;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
 }
 .u-section-2 .u-text-10 {
   font-size: 1rem;
   letter-spacing: 0px;
   width: 428px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin-top: 46px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 60px;
 }
 .u-block-5296-28 {
   border-style: solid;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }
}