.text-block {
  margin-left:300px;
  }
 
 .u-section-1 {
  background-image: none;
  min-height: 1500px;
}

.u-section-1 .u-shape-1 {
  width: 382px;
  background-image: none;
  left: auto;
  right: 432px;
}

.u-section-1 .u-shape-2 {
  height: 848px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 890px;
  height: 622px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -783px auto 0 calc(((100% - 1140px) / 2) + 67px);
}

.u-section-1 .u-group-1 {
  min-height: 622px;
  width: 584px;
  height: auto;
  margin: -500px calc(((100% - 1400px) / 2) + 31px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-form-1 {
  height: 411px;
  margin: 11px 33px 0 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding-top: 17px;
  padding-bottom: 19px;
}

.u-section-1 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -1260px auto 300px 1350px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    height: 762px;
  }

  .u-section-1 .u-image-1 {
    width: 809px;
    height: 565px;
    margin-top: -696px;
    margin-left: 59px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -102px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 754px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-shape-1 {
    width: 365px;
    left: 117px;
    right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 576px;
    height: 527px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -64px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -787px;
    margin-left: 534px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 969px;
  }

  .u-section-1 .u-shape-1 {
    width: 330px;
    height: 969px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -674px auto 0 calc(((100% - 540px) / 2) + 44px);
  }

  .u-section-1 .u-shape-2 {
    height: 674px;
    margin-top: 295px;
  }

  .u-section-1 .u-image-1 {
    width: 451px;
    height: 458px;
    object-position: 31.44% 50%;
    margin-top: -606px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 404px;
    margin-top: -57px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 29px;
  }

  .u-section-1 .u-shape-3 {
    width: 179px;
    height: 179px;
    margin-top: -774px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-shape-1 {
    width: 156px;
    height: 835px;
    margin-top: -462px;
    margin-right: calc(((100% - 340px) / 2) + 84px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 462px;
    margin-top: 452px;
  }

  .u-section-1 .u-image-1 {
    width: 301px;
    height: 266px;
    margin-top: -409px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 310px;
    margin-top: -16px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 113px;
    height: 114px;
    margin-top: -646px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 932px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 161px;
  margin-top: 214px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -284px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 377px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 382px;
  width: 238px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 381px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 311px;
  width: 288px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 311px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 508px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 319px;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  letter-spacing: 0px;
  width: 428px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 848px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 82px;
  }

  .u-section-2 .u-shape-1 {
    height: 110px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -233px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    width: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 314px;
  }

  .u-section-2 .u-image-2 {
    height: 233px;
    width: 216px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-2 .u-image-3 {
    height: 240px;
    width: 216px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 419px;
  }

  .u-section-2 .u-image-4 {
    height: 290px;
    width: 216px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1546px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 350px;
    width: 260px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 103px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 350px;
    width: 260px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 350px;
    width: 260px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 108px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 108px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 350px;
    width: 260px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2935px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -397px;
  }

  .u-section-2 .u-image-1 {
    height: 520px;
    width: 400px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 520px;
    width: 400px;
  }

  .u-section-2 .u-image-3 {
    height: 520px;
    width: 400px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 163px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 163px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 520px;
    width: 400px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2242px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 442px;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 97px;
  }

  .u-section-2 .u-image-2 {
    height: 442px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    height: 442px;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 103px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 103px;
  }

  .u-section-2 .u-image-4 {
    height: 442px;
    width: 340px;
  }

  .u-section-2 .u-text-10 {
    width: 340px;
  }
}